# User and Group ID for container processes
PUID=1000
PGID=1000

# Timezone
TZ=Asia/Tokyo

# Port settings
NODERED_PORT=1880
FASTAPI_PORT=8880
MQTT_PORT=1883
MQTT_WS_PORT=9901

# FastAPI settings
FASTAPI_LOG_LEVEL=info
